.footer {
    margin-top: 6vw;
    display: flex;
    flex-direction: column;

    .footer-top {
        display: flex;
        justify-content: space-around;

        .footer-donate {
            display: flex;
            flex-direction: column;

            .footer-logo {
                display: flex;
                gap: 2vw
            }

            .footer-logo img {
                display: flex;
                height: auto;
                width: 6vw;
                background-size: cover;
            }

            .footer-logo-text {
                display: flex;
                flex-direction: column;
            }

            .footer-logo-text h3 {
                display: flex;
                color: #0AA550;
                font-family: Arial;
                font-size: 1.8vw;
                font-style: normal;
                font-weight: 700;
                margin: 2vw 0 0 0;
            }

            .footer-logo-text p {
                display: flex;
                height: auto;
                width: fit-content;
                color: var(--Neutral-Colors-Text-Gray, #9795B5);
                font-family: "DM Sans";
                font-size: 1.5vw;
                font-style: normal;
                font-weight: 400;
                margin: 0;
            }
        }

        .footer-donate p:not(.footer-header-logo-text p) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            color: var(--Neutral-Colors-Text-Gray, #9795B5);
            text-align: justify;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Body/Default */
            font-family: "DM Sans";
            font-size: 1.5vw;
            font-style: normal;
            font-weight: 400;
            line-height: 2vw;
        }

        .footer-donate a {
            display: flex;
            height: auto;
            width: auto;
            text-decoration: none;

            .footer-button {
                display: flex;
                padding: 1.5vw 4.5vw;
                align-items: center;
                justify-content: center;
                border-radius: 40px;
                background: #F47701;
                color: var(--Neutral-Colors-White, #FFF);
                text-align: center;
                font-feature-settings: 'liga' off, 'clig' off;

                /* Text single/200/Bold */
                font-family: "DM Sans";
                font-size: 1.5vw;
                font-style: normal;
                font-weight: 700;
            }
        }


        .footer-links {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1.5vw;
            color: #161618;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Text single/300/Bold */
            font-family: "DM Sans";
            font-size: 1.8vw;
            font-style: normal;
            font-weight: 700;
        }

        .footer-links a {
            text-decoration: none;
            color: var(--Neutral-Colors-Text-Gray, #9795B5);
            text-align: center;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Text single/200/Regular */
            font-family: "DM Sans";
            font-size: 1.5vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.8vw;
            /* 100% */
        }

        .footer-news {
            color: #161618;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Text single/300/Bold */
            font-family: "DM Sans";
            font-size: 1.8vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.8svw;
            /* 100% */

            .footer-news-group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5vw;

                .footer-news-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;

                    .footer-news-card {
                        width: 10vw;
                        /* height: 4vw; */
                        flex-shrink: 0;
                        border-radius: 20px;
                    }

                    .footer-news-card img {
                        aspect-ratio: 1;
                    }
                }
            }
        }
    }

    .footer-line {
        margin-top: 120px;
        border: #D4D2E3 1px solid;
        width: 84vw;
        position: relative;
        left: 7.5vw;
    }


    .footer-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vw;
        gap: 50vw;

        .footer-bottom-icon-links {
            display: flex;
            gap: 10px;
        }

        .footer-bottom-icon-links img {
            width: 2.5vw;
            aspect-ratio: 1;
        }
    }

    .footer-bottom p {
        color: var(--Neutral-Colors-Text-Gray, #9795B5);
        font-feature-settings: 'liga' off, 'clig' off;

        /* Text single/200/Regular */
        font-family: "DM Sans";
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 400;
    }
}


@media screen and (max-width: 768px){
    .footer {
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }

    .footer-top {
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
    }

    .footer-donate, .footer-links, .footer-news {
        width: 100%;
        align-items: center !important;
        justify-content: center !important;
        text-align: center;
    }

    .footer-donate p {
        text-align: center;
    }

    .footer-links a {
        font-size: 18px !important;
    }

    .footer-links{
        gap: 20px !important;
    }

    .footer-links h3{
        font-size: 26px;
        margin-bottom: 0;
    }

    .footer-news-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-news h3{
        font-size: 22px;

    }

    .footer-news-card {
        width: 100px !important;
        height: 100px !important;
    }

    .footer-donate img{
        height: 64px !important;
        width: 64px !important;
    }

    .footer-donate h3{
        font-size: 18px !important;
    }
    .footer-donate p{
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .footer-button{
        font-size: 18px !important;
    }

    .footer-line {
        display: none;
    }

    .footer-bottom {
        flex-direction: column;
        margin-top: 50px !important;
        padding: 10px 20px !important;
        gap: 10px !important;
    }

    .footer-bottom p {
        font-size: 14px !important;
    }

    .footer-bottom-icon-links img {
        width: 42px !important;
        height: 42px !important;
    }
}