.header {
    display: flex;
    height: 10vw;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 14px 60px 0px rgba(20, 20, 43, 0.30);
    gap: 10vw;
    /* border: red 2px solid; */
}

.header-logo {
    display: flex;
    height: 15vh;
    width: 22vw;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    background-size: cover;
}

.header-logo img {
    display: flex;
    height: 6.5vw;
    width: 7vw;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.header-logo-text {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.header-logo-text h3 {
    display: flex;
    height: fit-content;
    width: 16vw;
    font-family: Arial;
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.header-logo-text p {
    display: flex;
    width: fit-content;
    color: #161618;
    font-family: Arial;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.header-button-group {
    display: flex;
    padding: 0% 5%;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.header-button-group a {
    text-decoration: none;
}

.header-button {
    color: #161618;
    text-align: center;
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-button:hover {
    color: #F47701;
    cursor: pointer;
}

.donate-button {
    display: flex;
    height: 5vw;
    width: 10vw;
    color: #f6f6f6;
    /* padding: 8px 12px; */
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(100deg, rgba(253, 189, 14, 0.20) 1.32%, rgba(244, 119, 1, 0.20) 50.66%, rgba(231, 69, 0, 0.20) 100%), #F47701;
}

.donate-button:hover {
    color: #f6f6f6;
    background: linear-gradient(100deg, rgba(253, 189, 14, 0.20) 1.32%, rgba(244, 119, 1, 0.20) 50.66%, rgba(231, 69, 0, 0.20) 100%), #d36702;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
        width: 100%;
        align-items: flex-start !important;
    }

    .header-logo {
        padding: 0;
        gap: 10px;
        width: 100% !important;
        justify-content: space-around !important;
        padding-left: 0 !important;
    }

    .header-logo h3 {
        width: fit-content !important;
        font-size: 16px !important;
    }

    .header-logo p {
        font-size: 12px !important;
    }

    .header-logo img {
        width: 60px !important;
        height: 50px !important;
    }

    .header-button-group {
        display: flex !important;
        flex-direction: column;
        gap: 10px !important;
        width: 100%;
        padding: 0;
    }

    .header-button-group a {
        width: 100%;
        text-align: center;
    }

    #icm {
        font-size: 20px !important;
    }

    .icone_menu {
        text-decoration: none !important;
    }

    .header-button,
    .donate-button {
        width: 100%;
        padding: 10px 0;
        font-size: 16px !important;

    }
}