

.action-banner{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-banner-central-div {
    width: 80vw;
    height: 49vw;
    flex-shrink: 0;
    border-radius: 30px;
    background: url("../images/imagem_inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action-banner-central-div h3{
    color: var(--Neutral-Colors-White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Headings/H1 */
    font-family: "DM Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px; /* 117.857% */
}

.action-banner-central-div p{
    color: var(--Neutral-Colors-White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body/Default */
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: -35px;
}

.action-banner-button-group{
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


.action-banner-button{
    display: flex;
    padding: 24px 36px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    background: var(--Neutral-Colors-White, #FFF);
}


.action-banner-central-div a{
    text-decoration: none;
    color: #F47701;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}

.action-banner-button2{
    display: flex;
    padding: 24px 36px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    border: 1.5px solid var(--Neutral-Colors-White, #FFF);
    
    /* Button Shadows/Button White 01 */
    box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);

    text-decoration: none;
    color:  #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Text single/200/Regular */
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}



.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.about-us-central-div{
    width: 80vw;
    height: 76vh;
    border-radius: 20px;
    background: #F47701;
    display: flex;
}

.about-us-left-side{
    width: 50%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-left-side-text{
    text-wrap: wrap; /* O motivo para separar em mais uma div*/
    height: 60%;
    width: 70%;
}

.about-us-left-side-text h3{
    color: var(--Neutral-Colors-White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Headings/H2 */
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
}

.about-us-left-side-text p{
    margin-top: -20px;
    color: #FFF;
    text-align: justify;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Body/Default */
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.about-us-right-side{
    width: 50%;
    height: inherit;
    background-color: #0AA550;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background: url("../images/about_us_img.png");
}


.institucional-video{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.institucional-video h3{
    color: #F47701;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Headings/H2 */
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
}

.institucional-video iframe,video{
    width: 80vw;
    height: 99vh;
    flex-shrink: 0;
    border-radius: 25px;
    background-color: #161618;
}




.yearly-results{
    margin-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    background-color: #F47701;
    align-items: center;
    justify-content: center;
}

.yearly-results h3{
    color: var(--Neutral-Colors-White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Headings/H2 */
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
}

.yearly-results-card-group{
    display: flex;
    width: 80%;
    justify-content: space-between;
    gap: 24px;
}

.yearly-results-card{
    display: flex;
    width: 30%;
    padding: 8px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 15px;
    border: 1px solid var(--Neutral-Colors-Color-600, #D4D2E3);
    background: var(--Neutral-Colors-White, #FFF);
}

.yearly-results-card h3{
    color: #F47701;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Special headings/Display 3 */
    font-family: "DM Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 113.636% */
}

.yearly-results-card p{
    margin-top: -50px;
    color: #161618;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Body/Default */
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.instagram-news{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instagram-news-card-group{
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.instagram-news-card{
    height: 70vh;
    width: 25vw;
    border-radius: 25px;
}

.instagram-news-slider{
    margin-top: 40px;
    width: 84vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram-news-slider h3{
    color: #161618;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Headings/H1 */
    font-family: "DM Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px; /* 117.857% */
}

.instagram-news-slider p{
    color: #161618;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Body/Default */
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.instagram-news-slider-group{
    display: inherit;
    gap: 20px;
}

.instagram-news-slider-left,.instagram-news-slider-right{
    cursor: pointer;
    width: 64px;
    height: 64px;
}

.instagram-news-slider-right:hover svg circle{
    fill: #F47701;
}

.instagram-news-slider-left:hover svg circle{
    fill: #F47701;
}

.instagram-news-slider-right:hover svg path{
    stroke: white;
}

.instagram-news-slider-left:hover svg path{
    stroke: white;
}





.partners{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners-card{
    width: 150px;
    height: 150px;
}


.partners-card-slider-left,.partners-card-slider-right{
    cursor: pointer;
}
.partners-card-slider-right:hover svg circle{
    fill: #F47701;
}

.partners-card-slider-left:hover svg circle{
    fill: #F47701;
}

.partners-card-slider-right:hover svg path{
    stroke: white;
}

.partners-card-slider-left:hover svg path{
    stroke: white;
}

