.pix {
    margin-top: 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: red 2px solid; */
}

.pix h3 {
    color: #161618;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headings/H1 */
    font-family: "DM Sans";
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    /* 117.857% */
}

#methods {
    margin-bottom: -2.5vw;
    color: rgba(22, 22, 24, 0.50);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Text Single Uppercase/200/Bold */
    font-family: "DM Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 111.111% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.pix-qr-and-steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.pix-qr-code {
    display: flex;
    flex-direction: column;
    margin: 0 0 4vw 2vw;

    .pix-button {
        cursor: pointer;
        width: 94%;
        border-radius: 10px;
        padding: 1vw;
        background: #F47701;
        color: #FFF;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Poppins;
        font-size: 3vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.pix-qr-code img {
    display: flex;
    height: 28vw;
    width: 30vw;
}

.pix-steps img {
    display: flex;
    height: 25vw;
    width: auto;
}

@media screen and (max-width: 768px) {
    .pix {
        display: flex;
        height: 150vw;
        width: 100vw;
        /* margin-top: 4.5vw; */
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: red 2px solid; */
        
        .pix-qr-and-steps {
            display: flex;
            height: 100%;
            width: 90%;
            flex-direction: column-reverse;
            align-items:center;
            justify-content: start;
            gap: 5%;
            /* margin-bottom: 10%; */
            /* border: red 2px solid; */
        
            .pix-qr-code {
                display: flex;
                height: 45%;
                width: 55%;
                flex-direction: column;
                margin: 10% 0 0 0;
                /* border: red 2px solid; */
            
                .pix-button {
                    cursor: pointer;
                    height: auto;
                    width: 94%;
                    border-radius: 10px;
                    padding: 1vw;
                    background: #F47701;
                    color: #FFF;
                    text-align: center;
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: Poppins;
                    font-size: 3vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    /* border: red 2px solid; */
                }
            }
            
            .pix-qr-code img {
                display: flex;
                height: 100%;
                width: auto;
            }

            .pix-steps{
                display: flex;
                height: 35%;
                width: 100%;
                /* border: red 2px solid; */
            }
            
            .pix-steps img {
                display: flex;
                height: 100%;
                width: auto;
            }
        }
}

    .pix h3 {
        color: #F47701;
        margin: 0;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;

        /* Headings/H1 */
        font-family: "DM Sans";
        font-size: 6vw;
        font-style: normal;
        font-weight: 700;
        line-height: 66px;
        /* 117.857% */
    }

    #methods {
        margin: 10% 0 0 0;
        color: rgba(22, 22, 24, 0.50);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;

        /* Text Single Uppercase/200/Bold */
        font-family: "DM Sans";
        font-size: 2.5vw;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        /* 111.111% */
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
}