.projects-intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 22vw;
    height: fit-content;
    margin-bottom: -4px;
}

.projects-intro-right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    margin-left: -11vw;
}

.projects-intro-right-div h3 {
    align-self: flex-start;
    color: #F47701;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headings/H1 */
    font-family: "DM Sans";
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: 6vw;
    /* 117.857% */
}

.projects-intro-right-div p {
    margin-top: -1.8vw;
    color: rgba(22, 22, 24, 0.50);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body/Default */
    font-family: "DM Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2vw;
    /* 166.667% */
}

.new-project-right,
.new-project-left {
    display: flex;
    height: 50vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.new-project-right {
    background-color: #F47701;
}

.right-project-left-div {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.right-project-left-div img {
    display: flex;
    height: 5.5vw;
    width: 5.5vw;
    background-size: cover;
    margin-bottom: -1vw;
    flex-shrink: 0;
    border-radius: 20px;
    /* border: red 2px solid; */
}

.right-project-left-div h3 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headings/H2 */
    font-family: "DM Sans";
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 4vw;
    /* 127.778% */
}

.right-project-left-div p {
    margin-top: -1.8vw;
    color: #FFF;
    text-align: justify;
    text-wrap: wrap;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body/Default */
    font-family: "DM Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2vw;
    /* 166.667% */
}

.project-specification-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.right-project-specification {
    display: flex;
    height: 2.8vw;
    width: 6vw;
    padding: 0 1vw;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.right-project-right-div img {
    display: flex;
    height: 45vw;
    width: 35vw;
    background-size: cover;
    flex-shrink: 0;
    border-radius: 30px;
}


/*LADO ESQUERDO*/

.new-project-left {
    background-color: white;
}

.left-project-right-div {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.left-project-right-div img {
    margin-bottom: -1vw;
    width: 5.5vw;
    height: 5.5vw;
    flex-shrink: 0;
    border-radius: 20px;
}

.left-project-right-div h3 {
    color: black;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headings/H2 */
    font-family: "DM Sans";
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 4vw;
    /* 127.778% */
}

.left-project-right-div p {
    margin-top: -1.8vw;
    color: rgba(22, 22, 24, 0.50);
    text-align: justify;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body/Default */
    font-family: "DM Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2vw;
    /* 166.667% */
}

.project-specification-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vw;
}

.left-project-specification {
    display: flex;
    height: 2.8vw;
    width: 6vw;
    padding: 0 1vw;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #F47701;
    color: #FFF;
    font-family: Inter;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left-project-left-div img {
    display: flex;
    height: 45vw;
    width: 35vw;
    flex-shrink: 0;
    border-radius: 30px;
    background-size: cover;
}