.stories-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories-intro-title {
    color: #F47701;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headings/H1 */
    font-family: "DM Sans";
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 6vw;
    /* 117.857% */

}

.stories-card-group {
    display: flex;
    flex-direction: column;
    background-color: #F47701;
    padding-top: 4.5vw;
    padding-bottom: 6vw;
    gap: 4.5vw;
    justify-content: center;
    align-items: center;
}

.stories-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 24px;
    height: 35vw;
    width: 85vw;
    gap: 3.5vw;
}

.stories-card-resume {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.storie-title {
    color: #F47701;
    /* margin: 0; */
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headings/H2 */
    font-family: "DM Sans";
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5vw;
    /* 127.778% */

    /* margin-bottom: -10px; */

}

.storie-resume {
    margin: 0;
    color: #131313;
    text-align: justify;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body/Default */
    font-family: "DM Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw;
    /* 166.667% */

}

.stories-card-img {
    object-fit: fill;
    max-width: 40%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}