# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
*.tgz
package-lock.json

# Diretórios de build
frontend/build/
admin-panel/build/

# Diretórios de uploads no backend
backend/uploads/

# Arquivos de configuração do ambiente
**/.env

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db
.idea/

# Diretórios do Vite (frontend/admin-panel)
.vite/
dist/

# Arquivos temporários do sistema
*.swp
*.swo

# Arquivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de cache do npm
.npm/

# Arquivos do editor
.vscode/
