#methods {
    color: rgba(22, 22, 24, 0.50);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Text Single Uppercase/200/Bold */
    font-family: "DM Sans";
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    /* line-height: 20px; 111.111% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.collection-point {
    margin: 4vw 0 6vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.collection-point h3 {
    margin-top: -1vw;
    align-self: center;
    color: #161618;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headings/H1 */
    font-family: "DM Sans";
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    /* 117.857% */
}

.collection-point-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.collection-point-info h3 {
    margin-top: -2vw;
    align-self: flex-start;
    margin-left: 8vw;
    color: #161618;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headings/H2 */
    font-family: "DM Sans";
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    /* 127.778% */
}

.collection-point-info-card {
    margin-top: -2.5vw;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5vw;
    border-radius: 10px;
    border: 1px solid #F47701;
    width: 100%;

}

.collection-point-info-card p {
    color: #000;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -5px;
}

.collection-point-button {
    margin-top: 1.8vw;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
    background: #F47701;
    text-decoration: none;
    padding: 1vw;
}

@media screen and (max-width: 768px) {
    .collection-point {
        margin: 0;
        
        .collection-point-info {
            display: flex;
            height: 50vw;
            width: 100vw;
            margin: 2% 0 4%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* border: red 2px solid; */

            .collection-point-info-card {
                display: flex;
                height: 80% !important;
                width: 90% !important;
                margin: 0 !important;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 2vw 0 2vw 0 !important;
                border-radius: 10px;
                border: 1px solid #F47701;
                width: 100%;
                
            }
            
            .collection-point-info-card p {
                color: #000;
                text-align: center;
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: Poppins;
                font-size: 2.8vw;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0 !important;
                margin-left: 2% !important;
                text-align: start;
            }
            .collection-point-button {
                margin: 2% 0 0 1% !important;
                /* margin-left: 2% !important; */
                color: #FFF;
                text-align: center;
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: Poppins;
                font-size: 2.5vw;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-radius: 10px;
                background: #F47701;
                text-decoration: none;
                padding: 2%;
            }
        }
        
        .collection-point-info h3 {
            display: flex;
            align-self: flex-start;
            margin: 0 !important;
            margin-left: 6% !important;
            color: #161618;
            font-feature-settings: 'liga' off, 'clig' off;
        
            /* Headings/H2 */
            font-family: "DM Sans";
            font-size: 4.5vw;
            font-style: normal;
            font-weight: 700;
            line-height: 46px;
            /* 127.778% */
        }
    }

    #methods{
        margin-top: 2vw !important;
    }
    
    .collection-point h3 {
        margin: -2vw !important;
        align-self: center;
        text-align: center;
        color: #F47701;
        
        /* Headings/H1 */
        font-size: 6vw;
        font-weight: 700;
        line-height: 66px;
    }
}
