.donate-methods {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vw;
    /* border: red 2px solid; */

    .donate-methods-card-group {
        display: flex;
        flex-direction: row;
        gap: 3vw;

        .donate-card {
            border-radius: 24px;
            border: 1px solid #161618;
            height: 35vw;
            width: 21vw;
            display: flex;
            flex-direction: column;
            padding: 4vw;
            align-items: center;
            justify-content: center;
        }

        .donate-card img {
            margin: 2.5vw 0 1.5vw 0;
            width: 10vw;
            height: 10vw;
            border-radius: 100%;
            border: 2px solid #161618;
            background: url(<path-to-image>) lightgray 50% / cover no-repeat, #F9F9FF;
        }

        .donate-card h3 {
            margin: 0 0 2.5vw 0;
            color: #F47701;
            text-align: center;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Special headings/Display 3 */
            font-family: "DM Sans";
            font-size: 3.5vw;
            font-style: normal;
            font-weight: 700;
            line-height: 3vw;
            /* 113.636% */
        }

        .donate-card p {
            margin: 0;
            /* margin-top: -10px; */
            color: rgba(22, 22, 24, 0.50);
            text-align: center;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Body/Default */
            font-family: "DM Sans";
            font-size: 1.5vw;
            font-style: normal;
            font-weight: 400;
            /* line-height: 3vw; */
            /* 166.667% */
        }

        .donate-card a {
            display: flex;
            margin-top: 1.8vw;
            width: 65%;
            padding: 2.6vw 4.5vw;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 47px;
            background: #161618;
            color: #FFF;
            text-align: center;
            text-decoration: none;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Text single/300/Bold */
            font-family: "DM Sans";
            font-size: 1.8vw;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            /* 100% */
        }
    }
}

/* .donate-methods h2 {
    color: rgba(22, 22, 24, 0.50);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    
    font-family: "DM Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
} */

.donate-methods h3 {
    margin: 0 0 6vw 0;
    color: #161618;
    /* color: #0AA550; */
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headings/H1 */
    font-family: "DM Sans";
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
}

.why-donate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vw;

    .why-donate-central-div {
        display: flex;
        height: 45vw;
        width: 80vw;
        border-radius: 20px;
        background: #F47701;
        display: flex;
    }

    .why-donate-left-side {
        width: 50%;
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .why-donate-left-side-text {
        display: flex;
        height: 60%;
        width: 70%;
        flex-direction: column;
        text-wrap: wrap;

    }

    .why-donate-left-side-text h3 {
        color: var(--Neutral-Colors-White, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;

        /* Headings/H2 */
        font-family: "DM Sans";
        font-size: 3vw;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        /* 127.778% */
    }

    .why-donate-left-side-text p {
        margin-top: -20px;
        color: #FFF;
        text-align: justify;
        font-feature-settings: 'liga' off, 'clig' off;

        /* Body/Default */
        font-family: "DM Sans";
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 2vw;
        /* 166.667% */
    }

    .why-donate-right-side {
        display: flex;
        /* height: 40vw; */
        width: 45vw;
        background-color: #0AA550;
        border-radius: inherit;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        background: url("../images/donate1.png");
        background-size: cover;
    }
}

.donate-info {
    display: flex;
    margin-top: 9vw;
    align-items: center;
    justify-content: center;
    margin-left: -2vw;
    margin-bottom: 8vw;
    
    .donate-info-central-div{
        display: flex;
        height: 50vw;
        width: 100vw;
        gap: 5%;
        flex-direction: row;
        
        .donate-info-img{
            display: flex;
            height: 100%;
            width: 50%;
        }

        .donate-info-img img{
            display: flex;
        }

        .donate-info-text {
            display: flex;
            height: 100%;
            width: 50%;
            flex-direction: column;
        }

        .donate-info-text h3 {
            display: flex;
            color: #161618;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Headings/H2 */
            font-family: "DM Sans";
            font-size: 3vw;
            font-style: normal;
            font-weight: 700;
            /* line-height: 46px; */
            /* 127.778% */
        }
        
        .donate-info-text p {
            display: flex;
            color: rgba(22, 22, 24, 0.50);
            text-align: justify;
            font-feature-settings: 'liga' off, 'clig' off;
            
            /* Body/Default */
            font-family: "DM Sans";
            font-size: 1.8vw;
            font-style: normal;
            font-weight: 400;
            line-height: 2vw;
            /* 166.667% */
        }

        .donate-info-text img {
            display: flex;
            height: 64px;
            width: 64px;
            border-radius: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .body {
        display: flex;
        width: 100vw;
    }

    .methods {
        display: flex;
        margin: 0;
    }

    .donate-methods h3 {
        display: flex;
        height: 10vw !important;
        margin-top: 0 !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vw !important;
    }

    .donate-methods-card-group {
        height: 140vw !important;
        width: 100vw !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;

        .donate-card {
            height: 35vw !important;
            width: 85vw !important;
            flex-direction: row !important;

            .donate-card-left {
                display: flex;
                height: 100% !important;
                width: 50% !important;
            }

            .donate-card-left img {
                display: flex;
                height: 95% !important;
                width: auto !important;
                margin: 0 5% 0 0 !important;
                border-radius: 100%;
                border: 2px solid #161618;
                background: url(<path-to-image>) lightgray 50% / cover no-repeat, #F9F9FF;
                aspect-ratio: 1;
            }

            .donate-card-right {
                display: flex;
                height: 100% !important;
                width: 50% !important;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .donate-card-right h3 {
                display: flex;
                height: 25% !important;
                width: 100% !important;
                margin: 0 !important;
                color: #F47701;
                text-align: center;
                justify-content: center;
                font-feature-settings: 'liga' off, 'clig' off;

                /* Special headings/Display 3 */
                font-family: "DM Sans";
                font-size: 6vw;
                font-style: normal;
                font-weight: 700;
                line-height: 3vw;
            }

            .donate-card-right p {
                display: flex;
                height: 45% !important;
                width: 100% !important;
                margin: 0 !important;
                padding: 0 !important;
                color: rgba(22, 22, 24, 0.50);
                text-align: center;
                justify-content: center;
                font-feature-settings: 'liga' off, 'clig' off;

                /* Body/Default */
                font-family: "DM Sans";
                font-size: 3.2vw;
                font-style: normal;
                font-weight: 300;
                line-height: normal !important;
                /* 166.667% */
            }

            .donate-card-right a {
                display: flex;
                height: 20% !important;
                width: 100% !important;
                margin-top: 5% !important;
                padding: 0 !important;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 47px;
                background: #161618;
                color: #FFF;
                text-align: center;
                text-decoration: none;
                font-feature-settings: 'liga' off, 'clig' off;

                /* Text single/300/Bold */
                font-family: "DM Sans";
                font-size: 3vw;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                /* 100% */
            }
        }
    }

    .why-donate {
        height: 50vw;
        width: 100vw;
    
        .why-donate-central-div {
            height: 100% !important;
            width: 93% !important;
        }
    
        .why-donate-left-side {
            height: 100% !important;
            width: 50% !important;
            border-radius: 2rem;
        }
    
        .why-donate-left-side-text {
            height: 100% !important;
            width: 90% !important;
        }
    
        .why-donate-left-side-text h3 {
            font-size: 5vw !important;
        }
    
        .why-donate-left-side-text p {
            font-size: 3.0vw;
            font-weight: 150;
            line-height: 2.8vw;
        }
    
        .why-donate-right-side {
            height: 100% !important;
            width: 50% !important;
        }
    }
    
    .donate-info {
        height: 50vw;
        width: 100vw;
        margin: 10vw 0 10vw 0 !important;
        gap: 0 !important;

        .donate-info-central-div{
            height: 100%;
            width: 90%;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            background-color: #F47701;
            border-radius: 20px;
            gap: 0;
            
            .donate-info-img{
                height: 100%;
                width: 50%;
                background-size: cover;
            }

            .donate-info-text {
                height: 100%;
                width: 50%;
                align-items: center;
                justify-content: center;
                flex-direction: row !important;
                flex-wrap: wrap !important;
            }

            .donate-info-text img {
                height: 30%;
                width: 30%;
                margin-bottom: 25%;
            }
            
            .donate-info-text h3 {
                height: 50%;
                width: 50%;
                margin: 0 0 0 7%;                
                color: #F9F9FF;
            }
            
            .donate-info-text p {
                width: 85%;
                margin: -35% 0 0 0;
                color: #F9F9FF;
                font-size: 3vw;
                font-weight: 150;
                line-height: 2.8vw;
                font-style: normal;
            }

        }
    }
}