.wpp-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #F47701;
}

.wpp-contact-main-div {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    display: flex;
    width: 75vw;
    height: 10vw;
    border-radius: 10px;
    background-color: #161618;
    justify-content: space-between;
    align-items: center;
}

.wpp-contact-main-div-text {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: start;
    /* border: #F47701 1px solid; */
}

.wpp-contact-main-div-text h3 {
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    align-self: flex-start;
    margin: 0;
}

.wpp-contact-main-div-text p {
    text-align: center;
    font-family: "Open Sans";
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.wpp-contact-main-div a {
    text-decoration: none;
}

.wpp-contact-main-div-button {
    text-decoration: none;
    display: flex;
    padding: 1vw 3vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
    border-radius: 2vw;
    background: #FFF;
    color: black;
    font-family: Inter;
    font-size: 2vw;
    font-weight: 400;
}

.wpp-contact-main-div-button:hover {
    padding: 1.1vw 3.1vw;
}

.wpp-contact-main-div-button p {
    text-decoration: none;
    margin: 0;
    color: #161618;
    font-family: Inter;
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
        .wpp-contact {
        padding: 30px 0;
        margin-top: 40px;
        background-color: #F47701 !important;
        width: 100% !important;
    }

    .wpp-contact-main-div {
        flex-direction: column;
        width: 80% !important;
        padding: 20px;
        text-align: center;
        background-color: #161618 !important;
        height: fit-content !important;
    }

    .wpp-contact-main-div-text {
        align-items: center;
        margin-bottom: 2vw;
        justify-content: center;
    }

    .wpp-contact-main-div-text h3 {
        font-size: 5vw !important;
        text-align: center;
        align-self: center;
        /* margin-left: 20px !important; */
    }

    .wpp-contact-main-div-text p {
        font-size: 3.5vw !important;
    }

    .wpp-contact-main-div-button {
        width: 150px !important;
        height: 11vw !important;
        font-size: 5vw !important;
        padding: 0px !important

    }
}